<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Diary</title>
    <link rel="stylesheet" href="/css/diary.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <script src="/js/diary.js" defer></script>
</head>
<body>
<div class="top-container">
    <a href="/homepage">
        <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    </a>
    <div class="left-side">
        <div class="nav-links">
            <a href="/watched">DIARY</a>
            <a href="/watchlist">WATCHLIST</a>
            <a href="/chat">INBOX</a>
        </div>
        <input class="top-nav" type="text" placeholder="Search here...">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </button>
        <a href="/yourprofile">
            <img th:src="${client.profilePicture}"alt="Profile Picture" class="profile-pic">
        </a>
    </div>
</div>
<div class="movie-grid">
   <div th:each="movie:${movies}" class="movie-card">
       <a th:href="@{'/details/' + ${movie.title}}">
           <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${movie.posterPath}}"
                alt="Movie poster"
                class="movie-poster">
       </a>
       <div class="texts">
           <p class="movie-title" th:text="${movie.title}"></p>
           <p class="movie-director" th:text="${movie.director}"></p>
           <p class="movie-year" th:text="${movie.year}"></p>
       </div>
        <div class="date">
            <p class="day">18</p>
            <p class="month">Dec</p>
            <p class="year">2025</p>
        </div>
       <i th:if="${client.likedMovies.contains(movie)}" class="fa-solid fa-heart" style="color: #710a42;"></i>
   </div>
</div>
</body>
</html>