<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SeenIt</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="/js/homepage.js" defer></script>
</head>
<body>
<div class="top-container">
    <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    <div class="left-side">
        <div class="nav-links">
            <a href="/watched/all">DIARY</a>
            <a href="/watchlist">WATCHLIST</a>
            <a href="/chat">INBOX</a>
        </div>
        <input class="top-nav" type="text" placeholder="Search here...">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </button>
        <div th:if="${client!=null}">
            <a href="/yourprofile">
                <img th:src="${client.profilePicture}"
                     alt="Profile Picture"
                     class="profile-pic"
                     onerror="this.onerror=null; this.src=' https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png';"
                >
            </a>
        </div>
    </div>
</div>
<div class="welcome-section">
    <div class="welcome-background"></div>
    <div class="welcome-pattern"></div>
    <div class="welcome-content">
        <h1 class="welcome-title">
            Welcome<span th:if="${client!=null}" th:text="', '+ ${client.username}"></span>
        </h1>
        <p class="welcome-subtitle">
            Discover, Track, and Share Your <span class="pink">Cinematic Journey</span>
        </p>
    </div>
</div>
<p class="section-title">
    <span class="pink">Trending</span> this week
</p>
<div class="movies-grid">
    <div th:each="trendingMovie : ${trendingMovies}" class="movie-card">
        <a th:href="@{'/details/' + ${trendingMovie.title}}">
            <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${trendingMovie.posterPath}}"
                 th:alt="${trendingMovie.title}"
                 class="movie-poster"
                 onerror="this.onerror=null; this.src='https://www.nicepng.com/png/detail/311-3111609_clapperboard-movie-icon.png';"
            >
        </a>
    </div>
</div>

<div th:if="${client==null}" class="login-section">
    <div class="section-title">
        <span class="pink">New</span> here? Or not <span class="pink">connected</span>?
    </div>
    <div class="button-group">
        <button id="login" class="btn login-button">Log In</button>
        <button id="register" class="btn register-button">Register</button>
    </div>
</div>
<p class="section-title">
    <span class="pink">Coming</span> soon</p>
<div class="movies-grid">
    <div th:each="upcomingMovie : ${upcomingMovies}" class="movie-card">
        <a th:href="@{'/details/'+${upcomingMovie.title}}">
            <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${upcomingMovie.posterPath}}"
                 th:alt="${upcomingMovie.title}"
                 class="movie-poster"
                 onerror="this.onerror=null; this.src='https://www.nicepng.com/png/detail/311-3111609_clapperboard-movie-icon.png';"
            >
        </a>
    </div>
</div>

</body>
</html>