<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SeenIt</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="/js/homepage.js" defer></script>
</head>
<body>
<div class="top-container">
    <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    <div class="left-side">
        <a href="/watched">
            <p class="watchlist">DIARY</p>
        </a>
        <a href="/watchlist">
            <p class="watchlist">WATCHLIST</p>
        </a>
        <a href="/chat">
            <p class="watchlist">INBOX</p>
        </a>
        <input class="top-nav" type="text" placeholder="SEARCH">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </button>
        <a href="/profile">
            <img th:src="${client.profilePicture}"alt="Profile Picture" class="profile-pic">
        </a>
    </div>
</div>
<p th:if="${client != null}" class="welcome-paragraph">
    Welcome, <span th:text="${client.username}" class="pink"></span>! here is what is <span class="pink">trending</span> this week...
</p>
<div class="movies-grid">
    <div th:each="trendingMovie : ${trendingMovies}" class="movie-card">
        <a th:href="@{'/details/' + ${trendingMovie.title}}">
            <img th:src="@{'https://image.tmdb.org/t/p/w200/' + ${trendingMovie.posterPath}}"  th:alt="${trendingMovie.title}" class="movie-poster">
        </a>
    </div>
</div>

<div class="login-buttons">
    <p class="welcome-paragraph"><span class="pink">New</span> here? Or not <span class="pink">connected?</span></p>
    <div class="buttons">
        <button id="login" class="login-button">Log In</button>
        <button id="register" class="register-button">Register</button>
    </div>
</div>
<p class="welcome-paragraph">Also, keep up to date with these <span class="pink">incoming</span> movies!</p>
<div class="movies-grid">
    <div th:each="upcomingMovie : ${upcomingMovies}" class="movie-card">
        <a th:href="@{'/details/'+${upcomingMovie.title}}">
            <img th:src="@{'https://image.tmdb.org/t/p/w200/' + ${upcomingMovie.posterPath}}"  th:alt="${upcomingMovie.title}" class="movie-poster">
        </a>
    </div>
</div>

</body>
</html>