<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Details</title>
    <link rel="stylesheet" href="/css/moviedetails.css">
    <link rel="stylesheet" href="/css/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="/js/moviedetails.js"></script>
</head>
<body>
<div class="top-container">
    <a href="/homepage">
        <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    </a>
    <div class="left-side">
        <div class="nav-links">
            <a href="/watched">DIARY</a>
            <a href="/watchlist">WATCHLIST</a>
            <a href="/chat">INBOX</a>
        </div>
        <input class="top-nav" type="text" placeholder="Search here...">
        <a>
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </a>
        <div th:if="${client!=null}">
            <a href="/yourprofile">
                <img th:src="${client.profilePicture}"alt="Profile Picture" class="profile-pic">
            </a>
        </div>
    </div>
</div>
<div class="movie-details">
    <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${movie.posterPath}}"
         alt="Movie Poster"
         class="movie-poster">
    <div class="text-details">
        <p class="title">
            <span th:text="${movie.title}"></span>
            <span class="year" th:text="'(' + ${movie.year} + ')'"></span>
        </p>

        <p class="director" th:text="${movie.director}"></p>
        <p class="details">
            &#x2022; <span th:text="${movie.genre}"></span>
            <span class="time">&#x2022;1:48h</span>
        </p>
        <p class="overview-top">Overview</p>
        <p class="overview-text" th:text="${movie.overview}"></p>
        <div th:if="${client!=null}"class="buttons-grid">
            <div class="button-background"
                 id="like-button"
                 th:data-title="${movie.title}"
                 th:attr="data-state=${liked.contains(movie) ? 'active' : 'inactive'}">
                <i class="fa-solid fa-heart"
                   th:style="${liked.contains(movie)} ? 'color:white;' : 'color:#710a42;'"></i>

            </div>
            <div class="button-background"
                 id="watched-button"
                 th:data-title="${movie.title}"
                 th:attr="data-state=${watched.contains(movie) ? 'active' : 'inactive'}">
                <i class="fa-solid fa-circle-check"
                   th:style="${watched.contains(movie)} ? 'color:white;' : 'color:#710a42;'"></i>
            </div>
            <div class="button-background"
                 id="watchlist-button"
                 th:data-title="${movie.title}"
                 th:attr="data-state=${watchlist.contains(movie) ? 'active' : 'inactive'}">
                <i class="fa-solid fa-eye"
                   th:style="${watchlist.contains(movie)} ? 'color:white;' : 'color:#710a42;'"></i>
            </div>
        </div>
    </div>
</div>
<div class="cast">
    <p class="cast_title">CAST</p>
    <hr class="separator">
    <div class="cast-list">
        <div class="actor" th:each="actor : ${movie.actors}">
            <img th:src="${actor.picture} ?
                 @{'https://image.tmdb.org/t/p/w780/' + ${actor.picture}} :
                 @{'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png'}"
                 alt="Actor Poster"
                 class="actor-poster">
            <p class="actor-name" th:text="${actor.fullName}">Actor Name</p>
        </div>
    </div>
</div>
<div class="reviews">
    <p class="review-title">Reviews</p>
    <hr class="separator">
    <hr class="separator2">
    <div class="review-card" th:each="review:${reviews}">
        <img th:src="${review.authorPicture}" class="review-pic">
        <div class="review-text">
            <p class="review-author">Review by <strong th:text="${review.author}"></strong></p>
            <p class="review-grade"><span th:text="${review.rating}"></span>/10.0</p>
            <p class="review-comment" th:text="${review.comment}"></p>
        </div>
    </div>
</div>
<div id="review-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Enter your <span class="pink">review</span></h2>
            <div class="close-btn">&times;</div>
        </div>
        <div class="review-body">
            <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${movie.posterPath}}"
                 alt="Movie Poster"
                 class="review-poster"
                 onerror="this.onerror=null; this.src='https://www.nicepng.com/png/detail/311-3111609_clapperboard-movie-icon.png';"
            >
            <div class="review_details">
                <div class="modal-names">
                    <p th:text="${movie.title}" class="modal-title"></p>
                    <p th:text="${movie.year}" class="modal-year"></p>
                </div>
                <textarea id="review-area" class="review-textbox" rows="6" placeholder=" Add a review..."></textarea>
                <textarea id="rating-area" class="rating"  rows="1" placeholder=" Rating"></textarea>
                <div class="review-buttons">
                    <button id="cancel" class="cancel-button">Cancel</button>
                    <button id="save" class="save-button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>