<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeenIt</title>
    <link rel="stylesheet" href="/css/searchmenu.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <script src="/js/searchmenu.js" defer></script>
    <title>Title</title>
</head>
<body>
<div class="top-container">
    <a href="/homepage">
        <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    </a>
    <div class="left-side">
        <div class="nav-links">
            <a href="/watched/all">DIARY</a>
            <a href="/watchlist">WATCHLIST</a>
            <a href="/chat">INBOX</a>
        </div>
        <input class="top-nav" type="text" placeholder="Search here...">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </button>
        <div th:if="${client!=null}">
            <a href="/yourprofile">
                <img th:src="${client.profilePicture}"
                     alt="Profile Picture"
                     class="profile-pic"
                     onerror="this.onerror=null; this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png';"
                >
            </a>
        </div>
    </div>
</div>
<div class="containers">
    <div class="results">
        <p class="texts">SHOWING RESULTS FOR:</p>
        <p class="result_text" th:text="${searched}"></p>
        <div th:if="${movies!=null}" th:each="movie: ${movies}" class="result_container">
            <hr class="separator">
            <a th:href="@{'/details/' + ${movie.tid}}">
                <div class="result">
                    <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${movie.posterPath}}"
                         alt="Movie Poster"
                         class="result_picture"
                         onerror="this.onerror=null; this.src='https://www.nicepng.com/png/detail/311-3111609_clapperboard-movie-icon.png';">
                    <p th:text="${movie.title}" class="result_title"></p>
                    <p th:text="${movie.year}" class="result_year"></p>
                </div>
            </a>
        </div>
        <div th:if="${actors!=null}" th:each="actor: ${actors}" class="result_container">
            <hr class="separator">
                <a th:href="'/moviesbyactor/'+${actor.getFullName()}">
                    <div class="result">
                        <img th:src="@{'https://image.tmdb.org/t/p/w780/' + ${actor.picture}}"
                             alt="Actor Picture"
                             class="result_picture"
                             onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8oghbsuzggpkknQSSU-Ch_xep_9v3m6EeBQ&s';">
                        <p th:text="${actor.fullName}" class="result_title"></p>
                    </div>
                </a>
        </div>
    </div>
    <div class="filters">
        <p class="texts">SEARCH FOR:</p>
        <a th:href="@{'/searchMenu/movies/' + ${searched}}"><p class="option">Movies</p></a>
        <a th:href="@{'/searchMenu/actors/' + ${searched}}"><p class="option">Actors</p></a>
        <p class="option">Directors</p>
        <p class="option">Users</p>
    </div>
</div>


</body>
</html>