<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeenIt</title>
    <link rel="stylesheet" href="/css/searchmenu.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="top-container">
    <a href="/homepage">
        <p><span class="first-word">Seen</span><span class="second-word">It</span></p>
    </a>
    <div class="left-side">
        <div class="nav-links">
            <a href="/watched/all">DIARY</a>
            <a href="/watchlist">WATCHLIST</a>
            <a href="/chat">INBOX</a>
        </div>
        <input class="top-nav" type="text" placeholder="Search here...">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass" style="color: #838f9a;"></i>
        </button>
        <div th:if="${client!=null}">
            <a th:href="'/profile/'+ ${client.id}">
                <img th:src="${client.profilePicture}"
                     alt="Profile Picture"
                     class="profile-pic"
                     onerror="this.onerror=null; this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png';"
                >
            </a>
        </div>
    </div>
</div>
<p class="title">RESULTS FOR <span th:text="${searched}" class="pink"></span></p>
    <div class="filters-box">
        <div class="filter-title">SEARCH IN</div>
        <a th:href="@{'/searchMenu/movies/' + ${searched}}"
           th:class="'filter-option' + (${type} == 'movies' ? ' active' : '')">
            <div>MOVIES</div>
        </a>

        <a th:href="@{'/searchMenu/actors/' + ${searched}}"
           th:class="'filter-option' + (${type} == 'actors' ? ' active' : '')">
            <div>ACTORS</div>
        </a>

        <a th:href="@{'/searchMenu/directors/' + ${searched}}"
           th:class="'filter-option' + (${type} == 'directors' ? ' active' : '')">
            <div>DIRECTORS</div>
        </a>

        <a th:href="@{'/searchMenu/users/' + ${searched}}"
           th:class="'filter-option' + (${type} == 'users' ? ' active' : '')">
            <div>USERS</div>
        </a>

    </div>
    <div class="results-container">
        <div th:if="${movies != null}" th:each="movie:${movies}" class="result-card">
            <img th:src="@{'https://image.tmdb.org/t/p/w780'+${movie.posterPath}}" alt="poster" class="result-poster"
                 onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8oghbsuzggpkknQSSU-Ch_xep_9v3m6EeBQ&s';">
            <div class="movie-result-info">
                <p th:text="${movie.title}" class="result-title"></p>
                <div class="result-meta">
                    <span th:text="${movie.year}" class="movie-result-year"></span>
                    <span th:text="${movie.genre}" class="movie-result-genre"></span>
                </div>
                <p class="movie-result-director">Directed by <span th:text="${movie.director}"></span></p>
            </div>
        </div>
        <div th:if="${actors != null}" th:each="actor:${actors}" class="result-card">
            <img th:src="@{'https://image.tmdb.org/t/p/w780'+${actor.picture}}" alt="poster" class="result-poster"
                 onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8oghbsuzggpkknQSSU-Ch_xep_9v3m6EeBQ&s';">
            <div class="actor-result-info">
                <p th:text="${actor.fullName}" class="result-title"></p>
                <div class="result-meta">
                    <span th:text="${actor.birthDate}" class="actor-result-birthdate"></span>
                    <span th:text="${actor.birthPlace}" class="actor-result-birthplace"></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/searchmenu.js" defer></script>
</html>